<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="todo-table">
    <h1>My Todo List</h1>
    <form>
      <input type="text" name="item" placeholder="add new item..." required />
      <button type="submit">add Item</button>
    </form>
    <ul>
      <% for(var i = 0; i < todos.length; i++) { %>
        <li><%= todos[i].item %></li>
      <% } %>
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <!-- Place your script just before the closing body tag -->
  <script>
   $(document).ready(function(){

  $('form').on('submit', function(){

      var item = $('form input');
      var todo = {item: item.val()};

      $.ajax({
        type: 'POST',
        url: '/todo',
        data: todo,
        success: function(data){
          //do something with the data via front-end framework
          location.reload();
        }
      });

      return false;

  });

  $('li').on('click', function(){
      var item = $(this).text().replace(/ /g, "-");
      $.ajax({
        type: 'DELETE',
        url: '/todo/' + item,
        success: function(data){
          //do something with the data via front-end framework
          location.reload();
        }
      });
  });
});  
  </script>
</body>
</html>